:root, :root.light {
    --background-color: rgb(202, 223, 255);
    --secondary-background: white;
    --primary-color: black;
    --primary-inverse: white;
    --secondary-color: blue;
    --secondary-hover: darkblue;
}

:root.dark {
    --background-color: rgb(42, 44, 56);
    --secondary-background: rgb(19, 20, 32);
    --primary-color: white;
    --primary-inverse: black;
    --secondary-color: rgb(94, 94, 226);
    --secondary-hover: rgb(155, 155, 255);
}

@media ( prefers-color-scheme: dark ) {
    :root {
        --background-color: rgb(42, 44, 56);
        --secondary-background: rgb(19, 20, 32);
        --primary-color: white;
        --secondary-color: rgb(94, 94, 226);
        --secondary-hover: rgb(155, 155, 255);
    }
}

body {
    background-color: var(--background-color);
    font-family: sans-serif;
    font-size: calc(12pt + 0.35vw);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-app {
    border-radius: 50px;
    margin-top: 2%;
    background-color: var(--secondary-background);
    color: var(--primary-color);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.button {
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 30px;
    transition: 1s;
    cursor: pointer;
}

.button:hover {
    transition: ease-in-out 0.2s;
    color: var(--primary-inverse);
    background-color: var(--secondary-hover);
    border-radius: 5px;
}

.input {
    padding: 1%;
    width: 80%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.top-bar {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.selector {
    background-color: lightblue;
    border-radius: 20px;
    padding: 0.5%;
    border-style: solid;
    border-color: blue;
}